---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Xinno - Creative Portfolio">

  <h1 class="fade-in" style="border: 3px solid red;">Xiino</h1>
  <p class="fade-in">
    Design, code, and intelligent interactive experiences.
  </p>

  <a class="hover-lift" href="#projects">
    View Projects →
  </a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>

</Layout>
